<header class="site-header">
  <h1><a href="/">Local Community Portal</a></h1>
  <nav>
    <a href="/faq">FAQ</a>
    <a href="/contact">Contact</a>
    <a href="/area/1">Sports</a>
    <a href="/area/2">Health</a>
    <a href="/area/3">Education</a>
    <a href="/area/4">Arts &amp; Culture</a>
    
  </nav>
</header>